<h1>Feed</h1>

<ul class="list-group d-flex p-2 align-items-center" id="posts">
  <% @posts.each do |post| %> 
    <li class="list-group-item w-25" id="<%= dom_id post %>">
      <%= render 'posts/post', post: post %>
    </li>
  <% end %>
  <div class="digg_pagination">
    <%= paginate @posts %>
  </div>
</ul>