<div class="mx-auto w-25">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
      </tr>
    </thead>
    <tbody>
      <% @followees.each do |followee| %>
        <tr>
          <td><%= followee.first_name  %></td>
          <td><%= followee.last_name  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
